<div>
  <nav class="navbar" id="navbar">
    <h1 style="cursor: pointer" routerLink="/home">Simple E-Kart</h1>
    <strong class="bi bi-house-door-fill"></strong>
    <button class="btn btn-light" type="button" routerLink="/home">
      <strong class="bi bi-house-door-fill">Home</strong>
    </button>
  </nav>
  <div class="cart-box" *ngIf="cart.length; else emptyCart">
    <div class="m-3">
      <h2>Items in the cart</h2>
      <div>
        <div class="item-decoration" *ngFor="let item of cart">
          <img
            aria-label="items"
            [src]="item.imageURL"
            [alt]="item.name"
            [title]="item.name"
          />
          <div>
            <h1>{{ item.name }}</h1>
            <h1>₹{{ item.price }}</h1>
          </div>
          <div>
            <div class="additional-container">
              <button
                class="btn btn-outline-info"
                (click)="reduceQuantity(item.id)"
                [disabled]="disableReduce(item.id)"
              >
                -
              </button>
              <h1 class="text-info">{{ valueOfCart(item.id) }}</h1>
              <button
                class="btn btn-outline-info"
                (click)="increaseQuantity(item.id)"
                [disabled]="disableAddition(item.id)"
              >
                +
              </button>
            </div>
            <h1 class="text-dark">Total: ₹{{ item.cartCount * item.price }}</h1>
          </div>
          <button class="btn btn-outline-danger" (click)="onDelete(item.id)">
            Delete
          </button>
        </div>
      </div>
    </div>

    <h1 >
      GRAND TOTAL = ₹{{ grandTotal }}
    </h1>
    <button
      class="btn btn-light purchase-btn"
      type="button"
      routerLink="/purchase"
    >
      <strong class="bi bi-house-door-fill">Purchase</strong>
    </button>
  </div>
  <ng-template #emptyCart>
    <div class="no-data">
      <h1>
        Cart is empty. Do some<span
          ><button class="btn btn-info purchase-btn" routerLink="/home">
            Shopping
          </button></span
        >
      </h1>
    </div>
  </ng-template>
</div>
