$footerBackgroundColor: #e0e7ff;
$footerTextColor: #3730a3;

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-footer {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  padding: 0rem 0.5rem;
}

.footer {
  background-color: $footerBackgroundColor;
  color: $footerTextColor;
  padding: 2rem 0rem;
  text-align: center;
}

.footer .heading {
  font-weight: bold;
  font-size: larger;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .link {
  color: $footerTextColor;
}

@media screen and (max-width: 330px) {
  .footer {
    width: 140%;
  }
}
