<footer class="footer container-fluid">
  <div class="container-footer">
    <div class="heading">Connect With Us</div>
    <ul class="unordered list-inline">
      <li>
        <a
          class="link"
          target="_blank"
          href="https://github.com/gautam-balamurali"
        >
          GitHub
        </a>
      </li>
      <li>
        <a
          class="link"
          target="_blank"
          href="https://www.linkedin.com/in/gautam-balamurali"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a class="link" target="_blank" href="https://twitter.com/codewithash">
          Twitter
        </a>
      </li>
    </ul>
    <div id="copyrt-txt">© {{ currentYear }} | All Rights Reserved</div>
  </div>
</footer>
